*{
    margin: 0;
    padding: 0;
}
body{
   background-color:  #458a5c;
   text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 5rem;
    border: none;
    font-size: 3rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    background-color: rgba(233, 228, 228, 0.752);
}
.reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
#msg{
    font-size: 3rem;
    color: rgba(233, 228, 228, 0.752);
    
 }

.new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
.msg-container{
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.hide{
    display: none;
}